.button-container {
  position: absolute;
  right: 0%;
  left: 67% !important;
  bottom: 10%;
}

.dialog-close-icon {
  position: absolute;
  right: 0%;
}

.dialog-title {
  font-size: 20px;
  font-weight: 500;
  color: #00263a;
  position: absolute;
  left: 0%;
}

.dialog-resume {
  position: absolute;
  left: 0%;
  text-align: justify;
}

.dialog-question {
  text-align: justify;
  position: absolute;
  right: 0%;
  top: 25%
}

.primary-button {
  width: 91px;
  height: 37px;
  border-radius: 2px;
  background-color: #5ad8a8;
  color: white;
}

.secondary-button {
  width: 91px;
  height: 37px;
  border-radius: 2px;
  background-color: #ffffff;
  color: #2a628f;
  border: 1px solid #2a628f;
}