.button-container {
  position: absolute;
  margin-top: 30%;
  width: 100%;
  text-align: center;
}

.dialog-close-icon {
  position: absolute;
  right: 0%;
}

.dialog-title {
  font-size: 20px;
  font-weight: 500;
  color: #5ad8a8;
  position: absolute;
  left: 0%;
}

.dialog-resume {
  position: absolute;
  text-align: justify;
}

.dialog-question {
  text-align: justify;
  position: absolute;
  top: 25%
}

.primary-button {
  width: 91px;
  height: 37px;
  border-radius: 2px;
  background-color: #5ad8a8;
  color: white;
}

.secondary-button {
  width: 91px;
  height: 37px;
  border-radius: 2px;
  background-color: #ffffff;
  color: #5ad8a8;
  border: 1px solid #5ad8a8;
}

.right-section {
  color: #5ad8a8;
  height: 12vh;
}

button {
  margin: 0 1%;
}