.general-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  background-image: url(https://www.mockplus.com/images/banner_1.jpg?v=1);
  background-size: cover;
}

.left-container, .right-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4vw;
  text-align: center;
  color: white;
  font-family: ui-serif;
  font-weight: 700;
  background-color: rgb(45, 209, 146);
  line-height: initial;
  border-radius: 1vw;
  margin-left: 30%;
  border: 1vw solid rgb(45, 209, 146);
}

h2 {
  text-align: center;
  font-weight: 500;
}

.mat-card {
  width: 55% !important;
  border: 2% 0;
  background-color: white;
  border-radius: 20px;
  color: rgb(45, 209, 146);
  box-shadow: 0 0 1em 0 rgba(45, 209, 146, 0.404);
}

div.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-header, .mat-card-content, .mat-card-actions {
  width: 100%;
  justify-content: center;
}

.mat-card, .mat-card-actions, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

button {
  width: 90%;
  flex-wrap: wrap;
}
