* {
  font-size: 12px;
  letter-spacing: normal;
}

.general-container {
  width: 100%;
  margin: 1% auto;
}

.mat-divider {
  border-top-color: #00263a !important;
  width: 80% !important;
  position: relative !important;
  margin: 2% 0;
}

.mat-form-field {
  width: 90%;
  background-color: transparent;
  margin: 3%
}

.mat-raised-button {
  margin: 2% 0 !important;
}

.mat-raised-button.mat-primary {
  background-color: #00263a;

}

.mat-raised-button.mat-button-disabled {
  background-color: #7E8894;
  color: black;
  opacity: .3;
}