* {
  font-size: 12px;
  letter-spacing: normal;
}

.general-container {
  height: 100%;
  width: 100%;
  margin: 1% auto;
}

.mat-divider {
  border-top-color: #00263a !important;
  width: 80% !important;
  position: relative !important;
  margin: 2% 0;
}

.mat-form-field {
  width: 90%;
  background-color: transparent;
  margin: 3%
}

.mat-raised-button {
  margin: 2% 0 !important;
}

.mat-raised-button.mat-primary {
  background-color: #00263a;

}

.mat-raised-button.mat-button-disabled {
  background-color: #7E8894;
  color: black;
  opacity: .3;
}

.mat-table {
  width: 80%;
  margin: auto;
}

.mat-card {
  width: 80%;
  margin: 1% auto;
  padding: 0%;
  border-radius: 5px;
  box-shadow: 0 0.3em 0.4em 0 rgba(0,0,0.07);
}

.mat-icon-button .mat-icon {
  font-size: 170%;
}

.space-between {
  flex: 1 1 auto;
}
