<div>
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="menu" (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>User Manager</h1>
    <span class="space-between"></span>
    <button mat-icon-button aria-label="back" matTooltip="Regresar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button aria-label="logout" matTooltip="Inicio">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="logout" matTooltip="Salir" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div>
  <mat-sidenav-container autosize>
    <mat-sidenav
        #sidenav
        mode="side"
        opened="true">
      <mat-nav-list>
        <mat-list-item>
          <span class="nav-option-label" *ngIf="isExpanded"> Inicio </span>
          <mat-icon mat-list-icon>home</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>