.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(https://www.mockplus.com/images/banner.jpg);
  background-size: cover;
}

.user {
  margin: 2%;
  justify-content: center;
  text-align: center;
  border-radius: 3%;
  min-width: 12%;
}

img {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  border: 3px solid #00263a;
}

h1 {
  font-weight: 600;
  margin: 1% 0;
  color: white;
}

h3 {
  font-weight: 500;
  color: white;
}

.mat-card {
  border-radius: 5px;
  background-color: rgb(45, 209, 146) !important;
  text-align: center;
  margin: 1%;
}